@tailwind base;
@tailwind components;
@tailwind utilities;
/*.card-container{*/
/*    width: 120px;*/
/*    height: 200px;*/
/*    margin-top: 20px;*/
/*    display: grid;*/
/*}*/

.image-avatar{
    width: 192px;
    height: 270px;
    margin: 0 auto;
    border-radius: 50%;
}
.card-search img{
    width: 160px;
    height: 160px;
}
.card-search :hover{
    cursor: pointer;
}
.bg-f :hover{
    background-color:#282828;
}

ul {
    list-style-type: none;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    gap: 24px;
}

.grid-item {
    background-color: #333;
    display: flex;
    flex-direction: column;
}

.playlist-image {
    max-width: 200px;
}
.artist-name{
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
}
.detail{
    width: 1200px;
}
