

.MuiTableRow-root:hover {
    background-color: hsla(0,0%,100%,.1) !important;

}

.MuiTableRow-root:hover td{
    color: rgb(255, 255, 255) !important;

}
.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}